[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
  ignore = dirty
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = git@github.com:nvasilakis/vim-surround.git
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "bundle/vim-pandoc-syntax"]
	path = bundle/vim-pandoc-syntax
	url = git@github.com:vim-pandoc/vim-pandoc-syntax.git
[submodule "bundle/vim-pandoc"]
	path = bundle/vim-pandoc
	url = git@github.com:vim-pandoc/vim-pandoc.git
